body {
    margin: 0;
    background: #769BD2;
}
input[type="text"] {
    width: 450px;
    height: 35px;
    margin: 7px 25px;
    font-size: 35px;
    background: lightcyan;
    color: green;
    box-shadow: 7px 6px 14px 5px #888;
    border: 1px solid #9C9C9C;
    padding: 7px 24px;
    border-radius: 7px;
}
input[type="text"]:hover {
    box-shadow: 7px 6px 14px 5px red;
    border: 1px solid red;
    padding: 7px 24px;
    border-radius: 5px;
}
input[type="radio"]{
    height: 25px;
}
button {
    width: 150px;
    height: 40px;
    font-size: 20px;
    background: #4EB1EC;
    color: #0E4C17;
    margin: 44px 309px;
    border: none;
    border-radius: 100px;
    box-shadow: 0 0 27px 13px #4EB1EC;
}
button:hover {
    box-shadow: 0 0 27px 13px red;
    border-radius: 100px;
}
label {
    font-size: 20px;
    color: #090186;
}
label:hover{
    color: red;
}
table{
    background: #790000;
    width: 100%;
    text-align: center;
    border-radius: 7px;
}
tr {
    height: 30px;
    font-size: 25px;
}
tr.eword{
    width: 40%;
}
tr.rword{
    width: 40%;
}
th{
    background: #B3B3C5;
    color: #1A0A71;
    font-size: 20px;
}
td{
    width: 40%;
}
.enter-label {
    display: block;
    font-size: 35px;
    color: darkblue;
    text-align: center;
    padding: 26px 0 0;
}
.part-of-speech{
    display: block;
    padding: 9px 0;
    font-size: 25px;
    text-shadow: 1px 0 69px #124188;
    text-align: center;
}
.eword {
    margin-left: 50px;
    color: black;
    background: #8CB3B1;
}
.rword {
    margin-left: 50px;
    color: #C0FF00;
    background: #46A752;
}
.noun {
    color: red;
    background: cornflowerblue;
    width: 20%;
}
.adjective {
    color: darkgreen;
    background: yellow;
    width: 20%;
}
.verb {
    color: #00BCD4;
    background: #A91919;
    width: 20%;
}
.adverb {
    color: azure;
    background: black;
    width: 20%;
}
.pronoun {
    color: aqua;
    background: #A28F25;
    width: 20%;
}
.enter {
    position: fixed;
    left: 0;
    top: 0;
    width: 546px;
    height: 100vh;
    margin: 0;
    background: lightblue;
    border-bottom: 10px;
    border-radius: 2px;

}
.dictionary{
    position: absolute;
    width: 600px;
    margin: 50px 100px 100px;
    background: darkseagreen;
    border-bottom: 10px;
    border-radius: 2px;
    display: block;
    word-wrap: break-word;
}
.field-dictionary{
    position: absolute;
    left: 40%;
    top: 0;
    width: 60%;
    height: 100vh;
    margin: 0;
    display: block;
    word-wrap: break-word;
}
