.enter {
    position: fixed;
    left: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    margin: 0;
    background: lightblue;
    border-bottom: 10px;
    border-radius: 2px;

}
.dictionary{
    position: absolute;
    width: 600px;
    margin: 50px 100px 100px;
    background: darkseagreen;
    border-bottom: 10px;
    border-radius: 2px;
    display: block;
    word-wrap: break-word;
}
.field_dictionary{
    position: absolute;
    left: 40%;
    top: 0;
    width: 60%;
    height: 100vh;
    margin: 0;
    background: blue;
    display: block;
    word-wrap: break-word;
}
input[type="text"] {
    width: 450px;
    height: 35px;
    margin: 10px 25px;
    font-size: 35px;
    background: lightcyan;
    color: green;

}
label[class="enter-label"] {
    margin: 0 150px;
    font-size: 20px;
    color: black;
}
button {
    width: 150px;
    height: 40px;
    margin-left: 60%;
    font-size: 20px;
    background: red;
    color: aqua;
}
input[type="radio"] {
    height: 20px;
}
label {
    font-size: 20px;
    color: black;
}
body {
    margin: 0;
    background: blue;
}
span {
    margin: 0 20px 0 ;
    font-size: 20px;
}
span[class="eword"] {
    margin-left: 50px;
    color: yellow;
}
span[class="rword"] {
    margin-left: 50px;
    color: greenyellow;
}
span[class="noun"] {
    color: red;
    background: cornflowerblue;
}
span[class="adjective"] {
    color: darkgreen;
    background: yellow;
}
span[class="verb"] {
    color: fuchsia;
    background: green;
}
span[class="adverb"] {
    color: azure;
    background: black;
}
span[class="pronoun"] {
    color: aqua;
    background: gold;
}